<footer class="mt-5 p-4 bg-dark text-white text-center d-flex justify-content-around">
<!--그리드만 CSS 나머지는 -->

    <div>
        <p>Created by Cos</p>
        <p></p>
    </div>
    <div></div>
</footer>

</body>
</html>