{{>layout/header}}
<!--네브바 종료, 레이아웃의 헤더-->
<!--마진 : mt, mr, ml, mb(1~5) (top,right,left,bottom) ex)mt-5-->
<div class="container mt-5">
<div class="m-4 p-5 bg-light text-info rounded-4">
    <h1>로그인 페이지</h1>
    <form action="/login" method="post">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter email" name="username" value="ssar">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Enter password" name="password" value="1234">
        </div>


        <button type="summit" class="btn btn-primary">로그인</button>
    </form>
</div>


</div>
{{>layout/footer}}