{{>layout/header}}
<!--네브바종료-->
<!--마진 : mt, mr, ml, mb (1~5) ex) mt-5-->
<div class="container mt-2">
    <div class="mt-4 p-5 bg-light text-dark rounded-4">
        <p>쌀님 계좌</p>
        <p>계좌번호 : 1111</p>
        <p>계좌잔액 : 1000원</p>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>날짜</th>
            <th>보낸이</th>
            <th>받은이</th>
            <th>금액</th>
            <th>계좌잔액</th>
            <th>입금/출금</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2025.03.24 : 10:00</td>
            <td>1111</td>
            <td>2222</td>
            <td>100원</td>
            <td>1000원</td>
            <td>출금</td>
        </tr>
        <tr>
            <td>2025.03.23 : 10:00</td>
            <td>2222</td>
            <td>1111</td>
            <td>100원</td>
            <td>1100원</td>
            <td>입금</td>
        </tr>
        </tbody>
    </table>
</div>
{{>layout/footer}}