{{>layout/header}}
<!--네브바 종료, 레이아웃의 헤더-->
<!--마진 : mt, mr, ml, mb(1~5) (top,right,left,bottom) ex)mt-5-->
<div class="container mt-5">
    <h2>계좌목록</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>계좌번호</th>
            <th>잔액</th>
        </tr>
        </thead>
        <tbody>
        {{#models}}
        <tr>
            <td><a href="account/{{number}}">{{number}}</a></td>
            <td>{{balance}}원</td>
        </tr>
        {{/models}}
        </tbody>
    </table>
</div>
{{>layout/footer}}