{{>layout/header}}
<!--네브바 종료, 레이아웃의 헤더-->
<!--마진 : mt, mr, ml, mb(1~5) (top,right,left,bottom) ex)mt-5-->
<div class="container mt-5">
<div class="m-4 p-5 bg-light text-info rounded-4">
    <h1>계좌생성 페이지</h1>
    <form action="/account/save" method="post">
         <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter number" name="number" value="4444">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Enter password" name="password" value="1234">
        </div>
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter balance" name="balance" valu="1000">
        </div>
        <button type="summit" class="btn btn-primary">계좌생성</button>
    </form>
</div>
</div>
{{>layout/footer}}