{{>layout/header}}
<!--네브바 종료, 레이아웃의 헤더-->
<!--마진 : mt, mr, ml, mb(1~5) (top,right,left,bottom) ex)mt-5-->
<div class="container mt-5">
<div class="m-4 p-5 bg-light text-info rounded-4">
    <h1>계좌이체 페이지</h1>
    <form action="/account/transfer" method="post">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter amount" name="amount">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter withdrawNumber" name="withdrawNumber">
        </div>
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter depositNumber" name="depositNumber">
        </div>
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter withdrawPassword" name="withdrawPassword">
        </div>


        <button type="summit" class="btn btn-primary">이체하기</button>
    </form>
</div>
</div>
{{>layout/footer}}