{{>layout/header}}
<!--네브바 종료, 레이아웃의 헤더-->
<!--마진 : mt, mr, ml, mb(1~5) (top,right,left,bottom) ex)mt-5-->
<div class="container mt-5">
    <h1> YH Bank에 오신 것을 환영합니다.</h1>

    <h3>
        {{#sessionUser}}
                {{sessionUser.fullname}}님
        {{/sessionUser}}

    </h3>
</div>
{{>layout/footer}}
